body {
    background-color: rgb(238, 89, 89);
  }
  
  h1 {
    color: black;
    margin-left: 20px;
  }
div
{
  color:blanchedalmond

}

#header{
  left: 50%;
  margin-left: -500px;
  background:url(header.png) no-repeat;
  width:1000px;
  height:200px;
}